body{
    background-color: rgba(0, 0, 0, 0.766);
    color:white;
    font-family:'Oxygen','Trebuchet MS', 'Arial';
    margin: 0px;
    font-size: 1.5vw;

}

#logo {
    margin: 0px;
    padding: 8px;
    /*box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.766);*/
    width: 16%;
    /*border-radius: 70%;*/
    /*text-shadow: 
    1px 1px 0px gold, Bottom-right shadow
    1px 1px 0px gold, Bottom-left shadow
    1px 1px 0px gold,  Top-right shadow
    1px 1px 0px gold; Top-left shadow*/
}

ul{
    margin: 0px;
}

body > header{
    background-color: white;
    color:rgba(0, 0, 0, 0.766);
    display:flex;
    height:14vh;
    justify-content: space-around;
}

#nav-ul{
    display: flex;
}


#nav-ul > li{
    padding: 10px;
    margin: 12px;
}


body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color: rgba(0, 0, 0, 0.766);
    text-decoration: none;
    padding: 10px;
    /*border: 3px solid rgba(0, 0, 0, 0.766);*/
}

body > main > div > article{
    width: 70%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div{
    width: 70%;
}

.slidebar{
    list-style: none;
}

.slidebar > li > a{
    text-decoration: none;
    color: white;
}


form{
    text-align: center;
}

h2{
    text-align: center;
}

body > footer{
    background-color: white;
    color:rgba(0, 0, 0, 0.766);
    display: flex;
}

img {
    border-radius: 20%;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 20px;
}

#footer-ul> div > li > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.766);;
}

footer{
    padding: 15px;
}

  

