body{
    background-color: #fff59d;
    color:#388e3c;
    margin: 0px;
    font-family: 'Cambria';
}

#logo{
    width: 27%;
    margin-right: 400px;
    color: #fff59d;
    font-family: "Teko";
    font-weight: bold;
    font-size: 40px;
    text-shadow: 4px 4px 4px black,
    4px 4px 4px black,
    4px 4px 4px black,
    4px 4px 4px black;
}

body > header{
    background-color: #388e3c;
    display:flex;
    height:16vh;
    justify-content: space-around;
    align-items: center;
}

body > header > img{
    height: 8vw;
    width: 8vw;
    margin: 5px;
}

#nav-ul {
    list-style: none;
    display: flex;
}

#nav-ul > li > a{
    color:#fff59d;
    text-decoration: none;
    margin: 16px;
    
}

.img_container{
    position: relative;
    display: inline-block;
}

img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

#Score_Title{
    position: absolute;
    bottom: -240px;
    right: 0;
    margin: 0;
    font-size: 44px;
    color:white;
    display:inline-block;
}

.Title{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #388e3c;
    color:#fff59d;
    display: flex;
}

#footer-ul{
    list-style: none;
}

#footer-ul > li > a{
    text-decoration: none;
    color: #fff59d;
}

